* {
  font-family: "Amiri", serif;
  direction: rtl;
}
body {
  /* background: no-repeat url("../imgs/common-bg.svg"); */
  background-color: #f7f7f7;
  /* height: 100vh; */
}
label {
  /* text-align: right; */
  margin-bottom: 3px;
}
.details .list-group-item {
  font-size: 14px !important;
}
.form-control {
  display: inline !important;
  /* width: auto !important; */
}

.details {
  margin-top: 120px;
}
.signin .row {
  min-height: calc(100vh - 86px);
}
.signin .row .signin-data {
  display: grid;
  align-content: space-around;
  justify-items: center;
}

.sign-img {
  background: no-repeat url("../imgs/airplane.jpg");
  background-position: center;
  background-size: cover;
}
/* 
.step {
  display: none;
}

.step.active {
  display: block;
} */
